body {
    font-family: Helvetica;
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 0;
    margin: 0;
}
   
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #666;
}
   
nav ul {
   display: flex;
   align-items: center;
   list-style: none;
}

ul li {
    margin-right: 12px;
}

ul li a {
    color: #fff;
}

section ul {
    display: flex;
    align-items: center;
    list-style: none;
}

section h3 a {
    color: #fff;
}

h1 {
    font-size: 31px;
}

img {
    border: 3px solid rgb(87, 45, 132);
}

footer {
    padding: 20px;
    border-top: 1px solid #666;
    margin-top: 20px;
}

section ul li a {
    display: inline-block;
}

ul li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
}