*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body
{
    min-height: 100vh;
    max-height: max-content;
    background: #0c1528f2;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: scroll;
    align-self: center;
    align-items: center;
    align-content: center;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px, 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.lvl {
    display: flex;
    font-size: 4em;
    color: #fff;
}
.Main {
    display: flex;
    font-size: 1.5em;
    color: antiquewhite;
    text-align: center;
    align-items: center;
    display: inline;
}
img {
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   display: block;
}
.poem {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
#red {
    color: red;
}
#camo {
    color: transparent;
    font-size: 100px;
}
#tutulo {
    font-size: 50px;
    color: #fff;
    align-self: center;
    display: block;
    margin-left: auto;
}
#vidoportrai {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vb;
}
#tutulo2 {
    font-size: 70px;
    color: #6eff0e;
    align-self: center;
    display: block;
    margin-left: auto;
}